<nav class="navbar navbar-dark navbar-expand-md">
    <a class="navbar-brand mb-0 h1" href="{% url 'home' %}">Crypto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems"
            area-controls="navbarItems" aria-expanded="false" area-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarItems">
        <ul class="navbar-nav">
            {% with url_name=request.resolver_match.url_name %}
                <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_anonymous %}

                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu {% if url_name == 'user_panel' or url_name == 'accounts' %}active{% endif %}"
                             aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="{% url 'user_panel' %}">User Panel</a>
                            <a class="dropdown-item" href="{% url 'accounts' 'N' %}">Accounts</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="tradesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Trades
                        </a>
                        <div class="dropdown-menu {% if url_name == 'new_trade' or url_name == 'order_list' %}active{% endif %}"
                             aria-labelledby="tradesDropdown">
                            <a class="dropdown-item" href="{% url 'new_trade' %}">New Trade</a>
                            <a class="dropdown-item" href="{% url 'order_list' %}">Your Orders</a>
                        </div>
                    </li>


                    <li class="nav-item {% if url_name == 'compare_prices' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'compare_prices' %}">Prices</a>
                    </li>
                    <li class="nav-item {% if url_name == 'profit_and_loss' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'profit_and_loss' %}">Profit & Loss</a>
                    </li>
                    <li class="nav-item {% if url_name == 'transfer_alerts' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'transfer_alerts' %}">Alerts</a>
                    </li>

                    {% if user.is_superuser %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="recordsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               data-bs-toggle="dropdown">
                                Records
                            </a>
                            <div class="dropdown-menu"
                                 aria-labelledby="recordsDropdown">
                                <a class="dropdown-item" href="{% url 'django_table_record' %}">Django Table Record</a>
                                <a class="dropdown-item" href="{% url 'html_record' %}">HTML Record</a>
                            </div>
                        </li>

                        <li class="nav-item {% if url_name == 'tags' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'tags' %}">Tags</a>
                        </li>
                    {% endif %}

                {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if not user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-dark" style="color: white;font-size: 18px;"
                               href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item {% if url_name == 'login' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item {% if url_name == 'signup' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            {% endwith %}
    </div>
</nav>