{% load static %}
{% load crispy_forms_tags%}
<style>

    label{
        margin: 1%;
    }
    .search_btn{
        width: 100%;
        margin: 10px 0;
    }

</style>
{{ filter.form.media }}
<form action="" method="get" style="margin-bottom: 10px" class="form-inline">
    {{ filter.form|crispy }}
    <input type="submit" value="search" class="btn btn-info search_btn"/>
</form>

<script>
    tag_text_auto_complete = function () {
        $("#id_text").autocomplete({
            source: "{% url 'get_tag_texts' %}",
            minLength: 1,
        });
    };

    $(document).ready(function () {
        tag_text_auto_complete();
    })
</script>
