{% extends 'user/base_template.html' %}
{% load static %}

{% block title %} Notice {% endblock %}

{% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'trade/styles/order_detail.css' %}">
{% endblock %}

{% block content %}
{% include 'trade/includes/order_step_detail_table.html' with order=order title='First Step'%}
    <br><br>
    {% if order.needs_transfer %}
        <table class="table">
            <thead>
            <tr>
                <th colspan="2">Transfer</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Currency</th>
                <td>{{ order.get_transferred_currency.0 }} {{ order.get_transferred_currency.1 }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ order.get_transfer_status }}</td>
            </tr>
            <tr>
                <th>From</th>
                <td>{{ order.get_account_type_display }}</td>
            </tr>
            <tr>
                <th>To</th>
                <td>{{ order.next_step.get_account_type_display }}</td>
            </tr>
            </tbody>
        </table>
            <br><br>
    {% endif %}

    {% if order.has_next_step %}
        {% include 'trade/includes/order_step_detail_table.html' with order=order.next_step title='Second Step'%}
    {% endif %}


{% endblock %}