{% extends 'user/base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Transfer Confirm {% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/styles/important_form.css' %}">
{% endblock %}

{% block content %}
    <div align="center">
        <form method="post" action="" align="left">
            {% csrf_token %}
            <legend>Please enter a valid wallet address for {{ currency }} in your {{ account }} account:</legend>
            {{ form|crispy }}
            <input type="submit" value="Confirm" class="btn btn-info">
        </form>
    </div>
{% endblock %}