{% extends 'user/base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/styles/important_form.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_anonymous %}
        <div align="center">
        <form method="post" action="{% url 'login' %}" align="left">
            {% csrf_token %}
            <legend>Login Information:</legend>
            {{ form|crispy }}
            <input type="submit" value="Login" class="btn btn-info">
        </form>
        <a href="{% url 'reset_password' %}">
            forgot your password?
        </a>
    </div>
    {% else %}
        <h2>Please <a href="{% url 'logout' %}">Logout</a> first!</h2>
    {% endif %}
{% endblock %}