{% extends 'user/base_template.html' %}
{% load static %}

{% block title %} Compare Prices {% endblock %}

{% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'user/styles/compare_prices.css' %}">
{% endblock %}

{% block content %}
    <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th colspan="2">Currency</th>
        <th>Nobitex</th>
        <th>Wallex</th>
        <th>Exir</th>
    </tr>
    </thead>
    <tbody>
    {% for currency_info in market_info %}
        <tr>
        <th rowspan="2" class="table-dark">{{ currency_info.currency }}</th>
        <td class="table-danger">Best Sell (Iran Rial)</td>
        <td class="table-danger">{{ currency_info.info.nobitex.bestSell}}</td>
        <td class="table-danger">{{ currency_info.info.wallex.bestSell}}</td>
        <td class="table-danger">{{ currency_info.info.exir.bestSell}}</td>
        </tr>
        <tr class="table-success">
        <td>Best Buy (Iran Rial)</td>
        <td>{{ currency_info.info.nobitex.bestBuy}}</td>
        <td>{{ currency_info.info.wallex.bestBuy}}</td>
        <td>{{ currency_info.info.exir.bestBuy}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}