{% extends 'user/base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} New Trade {% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/styles/important_form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user/styles/new_trade.css' %}">
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <legend>Order a new trade</legend>
        {{ form|crispy }}
        <input class="btn btn-info" type="submit" value="Save Order"/>
    </form>

{% include 'user/includes/market_table.html' with sell=orderbook_bids buy=orderbook_asks title='Orderbook'%}
{% include 'user/includes/market_table.html' with sell=trades_sell buy=trades_buy title='Trades' %}

{% endblock %}